* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-container{
    width:650px;
    height:512px;   
    overflow: auto;
    
}
.game-container::-webkit-scrollbar{display:none;}

.game-sky{
    height:80%;
    background-color: skyblue;
    position:relative;
    width:6656px;
}
.mario{
    width: 32px;
    height:32px;
    background-color:black;
    position:absolute;
    bottom:0;
    
}
.blockA,.blockB,.block1,.block2,.block3,.block4,.block5,.block6,.block7,.block8,.block9{
    width:32px;
    height:32px;
    position:absolute;
    background-color:pink;
    border:1px solid black;
    
}
.blockA{
    bottom:112px;
}
.blockB{
    bottom:224px;
}
.block1{
    bottom:0px;
}
.block2{
    bottom:32px;
}
.block3{
    bottom:64px;
}
.block4{
    bottom:96px;
}
.block5{
    bottom:128px;
}
.block6{
    bottom:160px;
}
.block7{
    bottom:192px;
}
.block8{
    bottom:224px;
}
.block9{
    bottom:256px;
}




.tube1{
    width:60px;
    height:80px;
    position:absolute;
    background-color:green;
    border:1px solid black;
    bottom:0px;
}

.game-ground{
    height:20%;
    display:flex;
    width:6656px;
}
.game-ground-s1{
 background-color: brown;
 width:1968px;
}
.game-ground-s2{
    background-color: skyblue;
    width:96px;
}
.game-ground-s3{
    background-color: brown;
    width:432px;
}
.game-ground-s4{
    background-color: skyblue;
    width:128px;
}
.game-ground-s5{
    background-color: brown;
    width:2121px;
}
.game-ground-s6{
    background-color: skyblue;
    width:64px;
}
.game-ground-s7{
    background-color: brown;
    width:1847px;
}